.link {
  stroke: #ccc;
}

.hover text {
  pointer-events: none;
  font: 14px sans-serif;
  color: red;
  font-style: bold;
}

.node:not(:hover) .hovertext {
  display: none;
}
  
.nodetext:hover {
	display: none;
}
